server:
  standalone:
    config: |
      listener "tcp" {
        address = "0.0.0.0:8200"
        tls_disable = 1
      }

      storage "file" {
        path = "/vault/data"
      }

      ui = true

  dataStorage:
    enabled: true
    size: 1Gi

  service:
    type: ClusterIP
    port: 8200

  ui:
    enabled: true

  ingress:
    enabled: true
    ingressClassName: {{ .Values.ingress.className }}
    annotations: {}
    hosts:
      - host: vault.local
        paths:
          - /
    tls: []
