namespace: foodgram
domain: foodgram.local
replicaCount: 1

image:
  backend: foodgram_backend:latest
  frontend: foodgram_frontend:latest
  pullPolicy: IfNotPresent

service:
  backend:
    name: backend-service
    port: 8000
  frontend:
    name: frontend-service
    port: 80

backend:
  persistence:
    collectedStatic:
      enabled: true
    media:
      enabled: true
frontend:
  persistence:
    collectedStatic:
      enabled: true
    media:
      enabled: true

ingress:
  className: nginx

database:
  port: 5432

postgresql:
  enabled: true
  image:
    repository: postgres
    tag: "13-alpine" 
  auth:
    username: ref+vault://secret/foodgram/#POSTGRES_USER
    password: ref+vault://secret/foodgram/#POSTGRES_PASSWORD
    database: ref+vault://secret/foodgram/#POSTGRES_DB
  primary:
    persistence:
      enabled: true
      size: 1Gi
      storageClass: standard